apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    dew.ms/git-commit: '0001'
    dew.ms/scm-url: ''
    sidecar.jaegertracing.io/inject: 'true'
  labels:
    app: helloworld-backend
    provider: dew
    version: '0001'
    group: ms.dew.devops.it
  name: helloworld-backend
  namespace: dew-test
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: helloworld-backend
      group: ms.dew.devops.it
  template:
    metadata:
      annotations:
        dew.ms/git-commit: '0001'
        dew.ms/scm-url: ''
        sidecar.jaegertracing.io/inject: 'true'
      labels:
        app: helloworld-backend
        provider: dew
        version: '0001'
        group: ms.dew.devops.it
    spec:
      containers:
      - env:
        - name: JAVA_OPTIONS
          value: ' -Dspring.profiles.active=test'
        image: harbor.trc.com/dew-test/helloworld-backend:0001
        imagePullPolicy: IfNotPresent
        livenessProbe:
          failureThreshold: 6
          httpGet:
            path: /actuator/health
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 60
          periodSeconds: 30
        name: dew-app
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        - containerPort: 9779
          name: prometheus
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /actuator/health
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 60
        resources:
          limits: {}
          requests: {}
      nodeSelector:
        group: app
