stages:
  - deploy

cache:
  paths:
    - frontend/node_modules/
    - .m2/

uat deploy:
  stage: deploy
  only:
    - uat
  tags:
    - uat
  script:
    - mvn -P devops deploy

prod deploy:
  stage: deploy
  only:
    - prod
  tags:
    - prod
  script:
    - mvn -P devops deploy
