<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>


    <logger name="com.ecfront" level="TRACE"/>
    <logger name="org.springframework.jdbc.core" level="TRACE"/>

</configuration>