<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tairanchina.csp.dew.mybatis.multi.mapper.TOrderMapper">
    <resultMap id="BaseResultMap" type="com.tairanchina.csp.dew.mybatis.multi.entity.TOrder">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="order_id" property="orderId" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" javaType="INT"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, order_id, user_id, status
    </sql>

    <select id="countAllByXml" resultType="java.lang.Long">
        SELECT COUNT(*) FROM t_order WHERE 1=1
    </select>

    <select id="getAllByXml" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_order
    </select>

    <select id="getOneByXml" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_order
        WHERE id = #{id}
    </select>

    <insert id="insertByXml" parameterType="com.tairanchina.csp.dew.mybatis.multi.entity.TOrder">
        <!--<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
            SELECT REPLACE(UUID(),'-','')
        </selectKey>-->
        INSERT INTO
        t_order
        (id,order_id,user_id,status)
        VALUES
        (#{id}, #{orderId}, #{userId}, #{status})
    </insert>

    <update id="updateByXml" parameterType="com.tairanchina.csp.dew.mybatis.multi.entity.TOrder">
        UPDATE
        t_order
        SET
        <if test="status != null">status = #{status}</if>
        WHERE
        user_id = #{userId}
    </update>

    <delete id="deleteByXml" parameterType="java.lang.Integer">
        DELETE FROM
        t_order
        WHERE
        user_id =#{userId}
    </delete>

</mapper>