<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tairanchina.csp.dew.mybatis.multi.mapper.UserMapper">

   <!-- <resultMap id="BaseResultMap" type="com.tairanchina.csp.dew.mybatis.multi.entity.User">
        <id column="test_id" property="id" jdbcType="VARCHAR"/>
        <result column="age" property="age" javaType="INT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="test_type" property="testType" javaType="INT"/>
        <result column="test_date" property="testDate" jdbcType="TIMESTAMP"/>
        <result column="role" property="role" javaType="LONG"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
    </resultMap>-->

    <insert id="batchInsert" parameterType="java.util.List">
        insert into user (test_id,name,age,test_type,test_date,role,phone)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.id},#{item.name},#{item.age},#{item.testType},#{item.testDate},#{item.role},#{item.phone})
        </foreach>
    </insert>
</mapper>
