dew:
  cloud:
    error:
      enabled: true
      notify-interval-sec: 5
      notify-emails: 71964899@qq.com
      notify-include-keys: ["ExampleClient#deleteExe(int,String)","ExampleClient#postExe(int,String)","ExampleClient2#deleteExe(int,String)"]
spring:
  mail:
    host: smtp.alibaba.com
    username: jiangji@tairanchina.com
    password:
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: false
            required: fasle
  application:
    name: hystrix-feign-example
server:
  port: 11000
eureka:
  client:
    fetch-registry: true #必须加？关闭自我保护模式
    serviceUrl:
      defaultZone:  http://registry:123456@localhost:9999/eureka
ribbon:
  ReadTimeout: 3000
feign:
  hystrix:
    enabled: true
hystrix:
  command:
    default:
      fallback:
        enabled: true
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 2000
